{%  extends 'base_auth.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>Set new password</h4>
                    </div>
                    <form action="{% url 'set_new_password' uidb64 token %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/_messages.html' %}

                        <div class="form-group">
                            <input
                                    type="password"
                                    name="password"
                                    placeholder="Password"
                                    id="passwordField"
                                    class="form-control form-control"
                            />
                            <small class="float-right py-2 show_password_toggle">SHOW</small>
                        </div>
                        <div class="password_feedback invalid-feedback" style="display:none">
                        </div>
                        <p class="password_success_output text-sm text-success"></p>

                        <div class="form-group">
                            <input
                                    type="password"
                                    name="confirmPassword"
                                    placeholder="confirmPassword"
                                    id="confirmPasswordField"
                                    class="form-control form-control"
                            />
                            <small class="float-right py-2 show_password_toggle">SHOW</small>
                        </div>
                        <div class="password_feedback invalid-feedback" style="display:none">
                        </div>
                        <p class="password_success_output text-sm text-success"></p>

                        <input type="submit" value="submit" class="btn btn-block btn-primary submit-btn"/>
                    </form>
                </div>
                <div class="container">
                  <span class="text-lead lead">Already have a account ? <a href="{% url 'login' %}">Login</a></span>
                  <br/>
                  <span class="text-lead lead">No account ? <a href="{% url 'register' %}">Register</a></span>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <script src="{% static 'js/register.js' %}"></script>
{% endblock content %}